.chat {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    height:70px;
    border-bottom: 1px solid rgba(231, 228, 228, 0.952)
}

a {
    text-decoration:none;
    color: inherit;
}
.chat__details {
    flex:1;
}

.chat__details > p {
    color: gray;
}

.chat__image {
    margin-right: 20px;
}

.chat__timestamp {
    color: lightgray;
    margin-left: 10px;
    width: 70px;
}

.chat__userMessage * {
    display: inline;
    padding: 0px;
}

.chat__userMessage {
    white-space: nowrap;
}

.chat__userText {
    margin-left: 8px;
}

.chat__none {
    color : rgba(85, 85, 56, 0.952);
    margin-left: 8px;
}