.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWt2eZvScryAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
}

.header__logo {
    height: 36px;
    object-fit: contain;
}

.header__icon {
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
}